<%-include('includes/head')%>

<%-include('includes/nav')%>

<div class="container">
    <div class="main">
        <img src="../public/resources/img/hierarchy.jpg" alt="hierarchy">
    </div>

</div>

<%-include('includes/end')%>