<%-include('includes/head')%>

<%-include('includes/nav')%>

<div class="container">
            <div class="slick" style="height: auto;">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="resources/img/cover100.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="resources/img/cover100.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="resources/img/cover100.jpg" class="d-block w-100" alt="...">
                    </div>
                    </div>
                </div>
            </div>

            <div class="about-us">
                <div >
                    <h2>من نحن</h2>
                    <p class="long-copy">
                        مركز ابن الجزري للدراسات والأبحاث مركز علمي تربوي بحثي مستقل يعنى بالقرآن الكريم وعلومه والقراءات وما يتعلق بهما من متون <br> - قراءة ورسما وضبطا وفواصل ووقفا وابتدءا ’ كما يهتم بالقضايا العلمية والفكرية
                    </p>
                </div>
            </div>

            <div class="about">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                    <div class="card-header" id="headingOne">
                        <h3 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            رسالتنا
                        </button>
                        </h3>
                    </div>
                
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body" dir="rtl">
                            - الإسهام في إعداد جيل من القراء المهرة المتقنين الذين تتحقق  فيهم جانب الرواية والدراية.<br>
                            - ربط الناس بكتاب الله وتقوية الصلة به.
                        </div>
                    </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h3 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                رؤيتنا
                            </button>
                            </h3>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body" dir="rtl">
                                النهوض بعلم القراءات والعمل على إحيائه والاهتمام به ونشره بين طلبة العلم عامة وطلبة القرآن خاصة وكافة شرائح المجتمع.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h3 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                أهدافنا
                            </button>
                            </h3>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                <ul class="p-list" dir="rtl">
                                    <li>- إحياء سنة الإقراء علما وتعلما وعملا وتدبرا وتزكية في علم القراءات القرآنية ( وخاصة الطرق العشر للإمام نافع و الشاطبية و الدرة ).  </li>
                                    <li>- بث روح جديدة في القيم الإنسانية الفضيلة وترسيخها.</li>
                                    <li>- تعميق الدراسة والبحث في التراث الفكري والعلمي للعلماء المغاربة والمشارقة والعناية بمخطوطاتهم في علم القراءات والرسم والضبط.</li>
                                    <li>- إعداد وتخريج حفاظفي علم القراءات القرآنية المتواترة بالسند المتصل إلى سيدنا محمد صلى الله عليه وسلم.</li>
                                    <li>- دورات تكوينية في المتون العلمية والشرعية .</li>
                            </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFor">
                            <h3 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFor" aria-expanded="false" aria-controls="collapseTwo">
                                    من مشاريعنا
                                </button>
                            </h3>
                        </div>
                        <div id="collapseFor" class="collapse" aria-labelledby="headingFor" data-parent="#accordionExample">
                            <div class="card-body" dir="rtl">
                                
                                    <ul class="p-list"><span  class="p-title"> مشروع قراء متميزين بالسند المتصل إلى رسول الله صلى الله عليه وسلم يهدف هذا المشروع إلى:</span>
                                        <li>- تكوين وتخريج طلبة ضابطين ومتمكنين في عدد من الروايات ومجازين في القراءة والإقراء.</li>
                                        <li>- تقريب تناول القراءات وعلومها للراغبين والمتأهلين غير المتفرغين من داخل المغرب وخارجه " التكوين عن بعد " .</li>
                                        <li>- إحياء دراسة وتحقيق تراث أعلام مكناس.</li>
                                    </ul>
                                    <ul class="p-list"><span  class="p-title"> المشروع العلمي:</span>
                                        <li>-مؤتمر دولي عن القراءات العشر وأعلام الأمة في القراءات كل سنة.</li>
                                        <li>-مسابقة دولية حول أجود البحوث والدراسات المرتبطة بالقراءات والقرآنالكريم وعلومه.</li>
                                        <li>-ترجمة المواد المتميزة التعريفية بالقراءات وعلوم القرآن الكريم إلى اللغات الأجنبية.</li>
                                        <li>-إصدار مجلة علمية متخصصة محكمة تعنى بالقرآن الكريم وعلومه.</li>
                                        <li>-انشاء مكتبة شاملة لإبراز الكتب والدراسات المرتبطة بالقرآن الكريم والقراءات.</li>
                                        <li>-طباعة وإصدار بحوث ودراسات متخصصة بالقرآن الكريم وعلومه.</li>
                                    </ul>
                                    <ul class="p-list"><span class="p-title"> المشروع الإعلامي والفني:</span>
                                        <li>-مواقع التعريف بالقراءات ( موقع الكتروني بمختلف اللغات- قناة على اليوتوب ).</li>
                                        <li>-إنشاء مؤسسة للإنتاج السمعي البصري والفني المرتبط بالقرآن الكريم وعلومه ( برامج للإعلام’ القراءات ......).</li>
                                    </ul>






                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>


    <section dir="ltr" >
      <div >
              <h2>إصدارات المعهد</h2>
      </div>
      <div class="book-list">
          <div class="book">
              <img src="resources/img/books/1.jpg" alt="Korean bibimbap with egg and vegetables">
          </div>
          <div class="book" >
              <img src="resources/img/books/2.jpg" alt="Korean bibimbap with egg and vegetables">
          </div>
          <div class="book">
              <img src="resources/img/books/3.jpg" alt="Korean bibimbap with egg and vegetables">
          </div>
          <div class="book" >
              <img src="resources/img/books/1.jpg" alt="Korean bibimbap with egg and vegetables">
          </div>
          <div class="book">
              <img src="resources/img/books/2.jpg" alt="Korean bibimbap with egg and vegetables">
          </div>
          <div class="book" >
              <img src="resources/img/books/3.jpg" alt="Korean bibimbap with egg and vegetables">
          </div>
          <div class="book" >
              <img src="resources/img/books/1.jpg" alt="Korean bibimbap with egg and vegetables">
          </div>
           
          <div class="book" >
              <img src="resources/img/books/2.jpg" alt="Korean bibimbap with egg and vegetables">
          </div>
          <div class="book" >
              <img src="resources/img/books/3.jpg" alt="Korean bibimbap with egg and vegetables">
          </div>
      </div>
  </section>
    
      
</div>
<%-include('includes/end')%>
